* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: black;
}

.bg {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding-left: 90px;   
}


.signup-card {
  width: 360px;
  background: #f5f5f5;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.4);
}


.signup-card h2 {
  text-align: center;
  margin-bottom: 6px;
  color: #444;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}


.signup-card label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-top: 12px;
}

.signup-card input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
  background: #e6ebf0;
  font-size: 14px;
}

.signup-card input:focus {
  outline: none;
  background: #dce3ea;
}

.signup-btn {
  width: 100%;
  margin-top: 22px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #5cb883;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #4da474;
}


.login-text {
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.login-text span {
  color: #2e7df6;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}


.bg {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;  
  align-items: center;       

  background: #3b3b3b;
}


.signup-card {
  width: 360px;
  background: #f4f6f8;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 6px;
  color: #444;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}


.signup-card label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-top: 12px;
}


.signup-card input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
  background: #e3e9ef;
  font-size: 14px;
}

.signup-card input:focus {
  outline: none;
  background: #d7dee6;
}

.signup-btn {
  width: 100%;
  margin-top: 22px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0fde65;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #4da474;
}


.login-text {
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.login-text span {
  color: #2e7df6;
  cursor: pointer;
}