.settings-grid{
  display:grid;
  grid-template-columns:
      repeat(auto-fit,minmax(260px,1fr));
  gap:24px;
}

.full{
  grid-column:1/-1;
}
.toggle-row{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px;
  border:1px solid #00c853;
  border-radius:12px;
}

/* SWITCH */

.switch{
  position:relative;
  width:50px;
  height:26px;
}

.switch input{
  display:none;
}

.slider{
  position:absolute;
  inset:0;
  background:#444;
  border-radius:20px;
  cursor:pointer;
}

.slider::before{
  content:"";
  position:absolute;
  height:20px;
  width:20px;
  left:3px;
  top:3px;
  background:white;
  border-radius:50%;
  transition:.3s;
}

.switch input:checked + .slider{
  background:#00c853;
}

.switch input:checked + .slider::before{
  transform:translateX(24px);
}
.select_theme{
  color: aliceblue;
}
.select_theme option{
  background-color: #121212;
  color: white;
}
