.food-page {
  background: #f5f7fb;
  padding: 24px;
  min-height: 100vh;
}

/* HEADER */
.food-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-wrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

.add-btn {
  background: #2bc155;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

/* SEARCH */
.search-box {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  width: 260px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

/* TABLE */
.table-card {
  background: #fff;
  border-radius: 14px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 14px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}

td {
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

td.name {
  font-weight: 600;
}

/* ACTION BUTTONS */
.icon-btn {
  border: none;
  padding: 6px;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.icon-btn.edit {
  background: #e8efff;
  color: #3b5bfd;
}

.icon-btn.delete {
  background: #ffe8e8;
  color: #ff4d4f;
}

/* FOOTER */
.table-footer {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  font-size: 13px;
}

.pagination button {
  background: #9ca3af;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-left: 6px;
  cursor: pointer;
}

.pagination .page {
  padding: 6px 10px;
  background: #e5e7eb;
  border-radius: 6px;
  margin-left: 6px;
}

/* MODAL */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  width: 340px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 18px;
}

.modal-actions .cancel {
  background: #e5e7eb;
}

.modal-actions .save {
  background: #2bc155;
  color: #fff;
}

body.dark .food-page{
  background-color: 	#1e1e1e;
  color: #9ca3af;
  border-radius: 15px;
}

body.dark .table-card{
  background-color: #474747
}



